:root {
    /* Colors */
    --darkcyan:  hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-default: 'Montsierrat', sans-serif;
    --font-secondary: 'Fraunces', sans-serif;
    --font-default: 0.875rem;
    --spacing-xs: 0.5rem;
    /* Spacing */
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;
    /* Miscellaneous */
    --rounded-borders: 20px;
}

@font-face {
    font-family: 'Montsierrat';
    src: url(./fonts/Montserrat.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
}

.product-card {
    border-radius: var(--rounded-borders);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    margin-inline: var(--spacing-s);
    margin-block: var(--spacing-m);
}

.product-card__header {
    display: flex;
    width: 100%;
}

.product-card__picture {
    max-width: 100%;
    border-radius: var(--rounded-borders) var(--rounded-borders) 0 0;
}

